{% extends 'app_users/_base.html' %}
{% load static %}
{% load i18n %}
{% load flatpages %}
{% get_flatpages '/about-platform/' as about_platform %}

{% block middle %}
    <div class="index-first-block">
        <div class="wrap">
            <h1>Платформа Фриланса</h1>
            <div class="top-text">
                партнерство, равенство, гарантия качества <br> и своевременной оплаты
            </div>
            <form>
                <input type="text" placeholder="введите запрос, что нужно сделать, для поиска исполнителя">
                <button></button>
                <a href="#" class="sound"></a>
            </form>
            <div class="blocks">
                <span>или</span>
                <span><img src="img/first-block1.svg"> <a href="#">создать заказ</a></span>
                <span><img src="img/first-block2.svg"> <a href="#">обьявить конкурс</a></span>
                <span><img src="img/first-block3.svg"> <a href="#">найти заказ</a></span>
            </div>
        </div>
    </div>
    <div class="index-catalog-block">
        <div class="wrap">
            <div class="top-nav">
                <a class="active" href="{% url 'home' %}">Категории <i class="fa fa-angle-down"></i></a>
                <a href="{% url 'about' %}">О платформе <i class="fa fa-angle-down"></i></a>
                <a href="{% url 'rules' %}">Правила работы <i class="fa fa-angle-down"></i></a>
                <a href="{% url 'ref_prog' %}">Реферальная программа <i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>
    <div class="index-page">
        <div class="first">
            <nav class="first__nav">
                <ul>
                    <li>
                        <button class="active" data-first="first-1">
                            <span>ТЕРМИНЫ</span>
                            <img src="img/first-1.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-2">
                            <span>СИТУАЦИЯ НА РЫНКЕ</span>
                            <img src="img/first-2.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-3">
                            <span>НАШЕ РЕШЕНИЕ</span>
                            <img src="img/first-3.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-4">
                            <span>ПРИНЦИПЫ РАБОТЫ</span>
                            <img src="img/first-4.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-5">
                            <span>ПРЕИМУЩЕСТВА</span>
                            <img src="img/first-5.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-6">
                            <span>ЭТАПЫ РАЗВИТИЯ</span>
                            <img src="img/first-6.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-7">
                            <span>СТАТУСЫ УЧАСТНИКОВ</span>
                            <img src="img/first-7.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-8">
                            <span>Специальные комиссии</span>
                            <img src="img/first-8.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-9">
                            <span>ДОХОД ПЛАТФОРМЫ</span>
                            <img src="img/first-9.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-10">
                            <span>Структура платформы</span>
                            <img src="img/first-10.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button>
                            <span>ПРАВИЛА РАБОТЫ</span>
                            <img src="img/first-11.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-hystmodal="#modalReferal">
                            <span>РЕФЕРАЛЬНАЯ ПРОГРАММА</span>
                            <img src="img/first-12.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-13">
                            <span>КОНТАКТЫ</span>
                            <img src="img/first-13.svg" alt="">
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="first__content">
                <div class="first__title-box">
                    <div class="first__title">
                        Платформа Фриланса Clik-Work*
                    </div>
                </div>
                <div class="first__text">
                    <div class="first__info">
                        * Положение «Платформа Фриланса Clik-Work» утверждено Общим собранием пайщиков МПК «Агро-полис» 02 февраля
                        2023 г., Протокол № 18
                    </div>
                    <div class="first__block" data-first="first-1">
                        <h3>
                            1.Термины
                        </h3>
                        <p>
                            Значения терминов, используемых в данном Положении, перечислены в Положении <a href="#">О терминах>>>,</a>
                            принятых в МПК «Агро-полис».
                        </p>
                    </div>
                    <div class="first__block" data-first="first-2">
                        <h3>
                            2.Ситуация на рынке
                        </h3>
                        <p>
                            Удаленная работа сегодня – мировой тренд.
                        </p>
                        <p>
                            Все больше специалистов становятся Фрилансерами или Заказчиками, переходят работать в режим онлайн и
                            чувствуют себя абсолютно комфортно.
                        </p>
                        <p>
                            Но возникает вопрос: где найти клиента или квалифицированного исполнителя?
                        </p>
                        <p>
                            Имеется большой выбор платформ, предоставляющих возможность поиска Заказчиков и Исполнителей. Но на какой
                            из них действительно удобно и безопасно работать?
                        </p>
                        <p>
                            От надежности площадки зависит многое: не только уровень заработка, но и возможная потеря времени и даже
                            денег.
                        </p>
                        <p>
                            Фрилансеры повсеместно сталкиваются с фейками, мошенниками и посредниками, а также с Заказчиками, которые
                            не отвечают за свои действия: сегодня они решили сделать заказ, завтра – передумали. И никакой
                            ответственности и контроля.
                        </p>
                        <p>
                            Заказчики же страдают от некомпетентности и безответственности Исполнителей, а подчас и мошенничества.
                        </p>
                        <p>
                            Нет гарантий, что владельцы какой-либо платформы действительно смогут защитить в подобных ситуациях, их
                            интересует только прибыль, практически, любым способом.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-3">
                        <h3>
                            3.Наше решение
                        </h3>
                        <p>
                            Мы – инициативная группа Фрилансеров – оценили недостатки современных бирж Фриланса и приняли решение
                            создать свою Платформу для Фрилансеров и Заказчиков в форме Международного потребительского кооператива.
                        </p>
                        <p>
                            В Кооператив мы имеем право принять бесчисленное количество пайщиков на законных основаниях. Это компания
                            с льготным налогообложением, некоммерческая организация с правом вести коммерческую деятельность.
                        </p>
                        <p>
                            Наши главные ценности – это равенство, честность, справедливость и партнерство.
                        </p>
                        <p>
                            Когда вы присоединяетесь к нам, вы имеете такое же право голоса во всех вопросах, касающихся работы
                            Платформы, как и другие участники.
                        </p>
                        <p>
                            Мы предлагаем площадку, где вы станете ее частью, т.е. пайщиком, нашим полноправным партнером!
                        </p>
                        <p>
                            Это означает гарантию получить адекватных клиентов и уверенность, что ваш труд будет оплачен.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-4">
                        <h3>
                            4.Принципы работы
                        </h3>
                        <h3>
                            Принцип открытости
                        </h3>
                        <p>
                            Все заказы и переписка с потенциальными Исполнителями – открыта для всех участников Платформы.
                            Таким образом, мы исключаем хамство, демпинг и прочие негативные явления, которые «процветают» на других
                            платформах.
                            Заказчики и Исполнители могут беспрепятственно обмениваться контактами.
                        </p>
                        <h3>
                            Принцип достоверности
                        </h3>
                        <p>
                            Все участники Платформы становятся членами нашего Кооператива путем заключения Договора, для формирования
                            которого они предоставляют личные данные, включая документы.
                            Фейки и мошенники не пройдут этот этап доступа на Платформу, так как будут сразу же идентифицированы.
                            После выполнения заказа клиент может оставить отзыв, публикация отзыва бесплатно.
                        </p>
                        <p>
                            Для оценки компетентности Фрилансера, он должен будет предоставить портфолио.
                        </p>
                        <p>
                            Портфолио Фрилансера состоит из 2 частей:
                        </p>
                        <p>
                            1 часть - то, что он сам разместит, - 10 лучших работ из предыдущего опыта, также он сможет постоянно
                            изменять этот пакет.
                        </p>
                        <p>
                            2 часть – то, что он выполнил на нашей Платформе. То есть добавление работ будет возможно только из архива
                            выполненных заказов. Таким образом, «воровать» работы будет нельзя.
                        </p>
                        <p>
                            Учет активности Фрилансера и Заказчика, их рейтинги и другие показатели определяются в автоматическом
                            режиме, а не путем оплаты для подъема рейтинга самими Фрилансерами, как это практикуется на некоторых
                            биржах.
                        </p>
                        <h3>
                            Принцип справедливости
                        </h3>
                        <p>
                            Минимальные цены на популярные заказы для Фрилансеров в различных областях утверждаются голосованием,
                            чтобы избежать соблазна искусственно занижать цены.
                            Форма для голосования размещается в Личном кабинете Фрилансера.
                            Решение принимается большинством голосов Фрилансеров в определенной категории.
                        </p>
                        <h3>
                            Принцип ответственности
                        </h3>
                        <p>
                            Заказчик вносит минимальный депозит, прежде чем разместить заказ или объявить конкурс.
                        </p>
                        <p>
                            Заказчик может сам выбрать Исполнителя и напрямую разместить у него заказ, если Исполнитель согласен и
                            свободен. Также Заказчик может разместить заказ для всех Фрилансеров в разделе «Заказы», в этом случае
                            заказ получает 10 откликов.
                        </p>
                        <p>
                            Заказчик должен определиться с выбором Исполнителя в течении двух суток, иначе будут штрафы, вплоть до
                            выбытия из членов Кооператива. Подробнее в <a href="#">Правилах работы.</a>
                        </p>
                        <p>
                            В случае, если Заказчик не удовлетворен качеством выполнения задания Исполнителем, Участники могут
                            заключить Мировое соглашение, либо их спор разбирает Квалификационная комиссия, решению которой стороны
                            должны подчиниться.
                        </p>
                        <h3>
                            Принцип гарантии компенсации
                        </h3>
                        <p>
                            Компенсация за выполненный заказ или победу в конкурсе гарантируется путем внесения депозита на Платформу
                            при размещении заказа или конкурса. Нет денег – нет возможности опубликовать заказ или объявлять конкурс.
                            <br>
                            В конкурсах все деньги идут победителям за 1,2 и 3 место за минусом комиссии Платформы 10%.
                            Минимальная цена конкурса будет ограничена.
                            Первое место 45% от суммы конкурса, второе - 36%, третье - 9%.
                        </p>
                        <h3>
                            Принцип экономии
                        </h3>
                        <p>
                            Комиссии за ввод и вывод средств диктуются только платежными агрегаторами.
                            Платформа не зарабатывает ни на этих, ни на каких-либо других транзакциях.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-5">
                        <h3>
                            5.Преимущества
                        </h3>
                        <h3>
                            Минимальная плата за вход и отсутствие поборов
                        </h3>
                        <p>
                            Вступительный взнос 2000 рублей (USD 30 для нерезидентов) – платится один раз. Ежемесячных платежей,
                            абонементов, оплаты за «каждый шаг» не предусмотрено.
                        </p>
                        <h3>
                            Возможность получения бонусов по Реферальной программе
                        </h3>
                        <p>
                            Такая возможность есть как у Фрилансеров, так и у Заказчиков. <br>
                            Программа позволяет получать разовое поощрение за привлечение новых участников и бонусы за заказы или
                            конкурсы с трех нижних уровней структуры, что является возможностью формирования пассивного дохода в
                            качестве дополнения к основному доходу.
                        </p>
                        <h3>
                            Заказчик получает компетентных специалистов во многих сферах
                        </h3>
                        <p>
                            Сегодня мировой тренд – аутсорсинг и привлечение специалистов-фрилансеров, так как штатных сотрудников
                            содержать невыгодно, поэтому в будущем их ждет значительное сокращение.
                        </p>
                        <p>
                            Рынок Фриланса наоборот – неуклонно растет! Одним из серьезных триггеров роста этого рынка и его
                            популяризации стала пандемия, которая бушевала более 2 лет.
                        </p>
                        <p>
                            В мире уже более 160 млн., в Росии более 20 млн. человек выбрали Фриланс в качестве основного способа
                            получения дохода.
                        </p>
                        <p>
                            На нашей Платформе Заказчик получает возможность привлечь к работе специалистов из разных сфер, которые
                            зарегистрировались на Платформе с целью выполнения заданий Заказчиков на высоком профессиональном уровне в
                            режиме онлайн.
                        </p>
                        <h3>
                            Широкое распространение и популяризация
                        </h3>
                        <p>
                            Есть причины, по которой современные Биржи Фриланса не расширяют перечень сфер и компетенций, которые
                            Фрилансер может предложить рынку.
                        </p>
                        <p>
                            Основная причина - необходимость увеличения расходов на администрирование, так как при расширении
                            предложения следует нанимать дополнительный компетентный персонал.
                        </p>
                        <p>
                            Также, ввиду недоверия клиентов, получить их лояльность в новых сферах непросто – нужны колоссальные
                            инвестиции в рекламу.
                        </p>
                        <p>
                            Наша платформа, созданная в виде бизнес-клуба, устраняет эти две причины, и тренд на удаленную работу
                            будет позитивно влиять на расширение наших границ и возможностей в новых сферах деятельности.
                        </p>
                        <p>
                            Наша цель - развитие Платформы для обеспечения наилучшего взаимодействия Заказчиков и Исполнителей в сети
                            Интернет, нет никаких препятствий для работы нашей Платформы за рубежом. Мы уверены, что наши специалисты
                            смогут завоевать доверие и уважение клиентов со всего мира.
                        </p>
                        <h3>
                            Абсолютная легальность
                        </h3>
                        <p>
                            Заключение договора, взаимодействие с физическими лицами, самозанятыми, ИП и юридическими лицами с
                            необходимой закрывающей документацией, возможность перечисления средств с расчетного счета для пополнения
                            аккаунта.
                        </p>
                        <h3>
                            Отсутствие фейков, посредников и борьба с мошенниками
                        </h3>
                        <p>
                            Риск нахождения на платформе посредников, фейков и мошенников у нас, крайне низок, так как:
                        </p>
                        <ul>
                            <li>
                                За вход надо платить, а указанная категория ищет легких и бесплатных путей
                            </li>
                            <li>
                                В связи с предоставлением проверяемых данных и документов, невозможна множественная регистрация на
                                один паспорт, нарушители будут удаляться из нашего бизнес-клуба
                            </li>
                            <li>
                                Принцип открытости позволяет сразу выявить, кто перед вами
                            </li>
                            <li>
                                Из числа Основателей, составляющих Ядро платформы, организована Комиссия по соблюдению правил работы
                                на Платформе (КСПР), работающая круглосуточно.
                            </li>
                        </ul>
                        <h3>
                            Гарантия качества и компенсации
                        </h3>
                        <p>
                            Заказчик может разместить заказ только после внесения минимального депозита. Таким образом, исключаются
                            клиенты, которые не имеют намерения или возможности не только разместить заказ, но и компенсировать усилия
                            исполнителя по выполнению задания. Окончательную сумму заказа определяют участники путем переговоров.
                        </p>
                        <p>
                            Видя гарантию компенсации их усилий, фрилансеры будут ответственно относиться к выполнению заказа и
                            заказчику. Ведь если Заказчик поставил депозит на счет – имеет смысл активно откликаться на задание.
                        </p>
                        <p>
                            В процессе выполнения заказа может выявиться недостаточная компетентность исполнителя, Заказчик выясняет
                            данный момент на ранней стадии выполнения заказа. В таком случае заказчик может расторгнуть сделку и
                            нанять другого Исполнителя. Некомпетентный Исполнитель должен адекватно оценивать свою квалификацию.
                        </p>
                        <p>
                            Конфликтные случаи разбирает специальная Квалификационная комиссия (КК), состоящая из участников
                            Платформы.
                        </p>
                        <h3>
                            Формирование доверия участников к платформе и друг к другу
                        </h3>
                        <p>
                            Цели объединения участников Платформы:
                        </p>
                        <ul>
                            <li>
                                адекватные заказчики и справедливая компенсация усилий исполнителей
                            </li>
                            <li>
                                экономия времени за счет устранения неэффективных правил и запретов
                            </li>
                            <li>
                                предоставление и получение качественного исполнения задания
                            </li>
                            <li>
                                ответственное отношение к работе и сотрудничеству.
                            </li>
                        </ul>
                        <p>
                            Выработка правил работы – решение большинства, а значит оно гораздо более справедливое, чем на других
                            площадках, цель которых максимально заработать как на заказчике, так и на исполнителе.
                        </p>
                        <p>
                            Утверждение, что клиент всегда прав – неверное. Нередки случаи, когда клиент совсем не прав.
                        </p>
                        <p>
                            Мы хотим гармонизировать взаимодействие Заказчиков и Исполнителей, уровнять их риски и минимизировать
                            стресс.
                        </p>
                        <p>
                            Обмен контактами между участниками сделки не запрещается, допускается общение в том объеме, которое
                            необходимо в интересах дела.
                        </p>
                        <h3>
                            Отсутствие демпинга и повышение качества
                        </h3>
                        <p>
                            На нашей Платформе установлены Минимально допустимые тарифы за заказы в той или иной сфере, что исключает
                            возможность демпинга. Эта опция разработана самими Фрилансерами путем широкого обсуждения и голосования,
                            т.е. является решением большинства Исполнителей.
                        </p>
                        <p>
                            Чем опасен демпинг? «Вымывается» число профессионалов, так как за низкие цены согласен работать только
                            низкоквалифицированный специалист.
                        </p>
                        <p>
                            Нашей Платформе это не грозит. Низкоквалифицированные Исполнители получить компенсацию за свои усилия не
                            смогут.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-6">
                        <h3>
                            6. Этапы развития
                        </h3>
                        <h3>
                            Создание Платформы осуществляется в 3 этапа:
                        </h3>
                        <p>
                            <span>1 этап:</span> Формирование Ядра из 500 фрилансеров, которые станут Основателями платформы, 2-3
                            недели
                        </p>
                        <p>
                            На первом этапе привлечение клиентов не планируется. <br>
                            Создание Ядра осуществляется путем регистрации фрилансеров на Платформе с помощью <a href="#">Реферальной
                                программы.</a>
                        </p>
                        <h3>
                            Интерфейс программы позволит фрилансерам:
                        </h3>
                        <ul>
                            <li>
                                зарегистрироваться с помощью реферальной ссылки
                            </li>
                            <li>
                                оплатить вступительный взнос
                            </li>
                            <li>
                                привлечь в свою структуру других фрилансеров, предоставив им свою реферальную ссылку
                            </li>
                            <li>
                                получить поощрение за вступление новых Участников и вывести средства (<a href="#">см. Правила
                                    работы</a>)
                            </li>
                        </ul>
                        <p>
                            Основатели – участники Ядра Платформы - примут активное участие в обсуждении, разработке и утверждении
                            Правил работы Платформы путем голосования в своих личных кабинетах.
                        </p>
                        <p>
                            <span>2 этап:</span> Создание Платформы Фриланса, 8 – 10 недель.
                        </p>
                        <p>
                            На этом этапе привлечение клиентов приветствуется, так как на Платформе уже зарегистрированы Фрилансеры -
                            Основатели. <br>
                            Именно Основатели порекомендуют своим постоянным клиентам зарегистрироваться на Платформе в качестве
                            заказчиков. <br>
                            Привлечение Фрилансеров с помощью реферальных ссылок продолжается и приветствуется.
                            Средства, полученные от вступления первых 500 фрилансеров (Ядра) расходуются следующим образом:
                        </p>
                        <ul>
                            <li>
                                50% - оплата разработки Платформы с бюджетом 500 000 рублей.
                            </li>
                            <li>
                                50% - зачисление бонусов по <a href="#">Реферальной программе>>>.</a>
                            </li>
                        </ul>
                        <p>
                            <span>3 этап:</span> Старт Платформы, ее обкатка, корректировка интерфейса, рекламная компания, широкое
                            вовлечение фрилансеров и клиентов.
                        </p>
                        <p>
                            На этом этапе привлечение клиентов планируется в первую очередь, конечно, самими фрилансерами путем
                            пересылки реферальных ссылок.
                        </p>
                        <p>
                            Это выгодно фрилансерам, так как за привлечение новых участников на Платформу они получают <a
                                href="#">выплаты по
                                Реферальной программе.</a>
                        </p>
                        <p>
                            Также и клиенты наравне с фрилансерами имеют право привлекать своих знакомых фрилансеров и клиентов с
                            помощью своих реферальных ссылок.
                        </p>
                        <p>
                            Далее широкая рекламная компания создаст поток новых клиентов и фрилансеров, у которых не будет
                            реферальных ссылок для регистрации.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-7">
                        <h3>
                            7. Статусы Участников
                        </h3>
                        <h3>
                            Пользователи платформы
                        </h3>
                        <p>
                            Пользователями платформы являются члены Кооператива (Пайщики), а также посетители Сайта.
                        </p>
                        <p>
                            <span>Гость</span> – посетитель сайта, не прошедший регистрацию на сайте.
                        </p>
                        <p>
                            Гостю доступны все разделы сайта, кроме личного кабинета. Доступ к сообщениям в обсуждении заказов и
                            конкурсах, а также к контактным данным Участников Платформы заблокирован.
                        </p>
                        <p>
                            <span>Кандидат</span> – Участник Платформы, прошедший регистрацию на сайте. Ему доступны функции в ЛК по
                            заполнению
                            Личных данных, формированию, просмотру и печати Договора пайщика, а также раздел «пополнение личного
                            счета» для оплаты Вступления в Кооператив, а именно: вступительного и минимального паевого взноса в сумме
                            2000 рублей (USD 30 для нерезидентов).
                        </p>
                        <p>
                            Кандидат имеет право оплатить Вступление путем денежного перевода на р/сч Кооператива.
                        </p>
                        <h3>
                            Статусы Участников:
                        </h3>
                        <p>
                            <span>Основатель</span> – Участник Фрилансер, вошедший в число первых 500 зарегистрированных на Платформе.
                            Имеет
                            дополнительные обязанности и привилегии по сравнению с другими Участниками.
                        </p>
                        <p>
                            <span>Участник Фрилансер</span> – Участник, определивший себя как Фрилансер при регистрации, выполняющий
                            заказы или
                            участвующий в конкурсах.
                        </p>
                        <p>
                            Также может выступить в роли Заказчика или Организатора конкурса.
                        </p>
                        <p>
                            <span>Участник Заказчик</span> – Участник, определивший себя как Заказчик при регистрации, размещающий
                            заказы или
                            объявляющий конкурсы.
                        </p>
                        <p>
                            Также может выступать в роли Исполнителя в соответствии со своей компетенцией, указанной в Портфолио
                            (Профиле).
                        </p>
                        <h3>
                            Почему важно успеть зарегистрироваться в Ядро платформы и стать Основателем?
                        </h3>
                        <p>
                            После запуска рекламной компании клиенты или фрилансеры пришедшие по рекламе автоматически получают место
                            в Структуре одного из Основателей - участников Ядра (по очереди) и формируют тем самым дополнительный
                            пассивный доход Основателей в автоматическом режиме.
                        </p>
                        <p>
                            Единственным условием добавления фрилансера в структуру Основателя является проверка его компетентности,
                            которую осуществляет Основатель перед тем, как выдать ему ссылку для регистрации. Сервис реализован в
                            кабинете Основателя.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-8">
                        <h3>
                            8.Специальные Комиссии
                        </h3>
                        <h3>
                            Комиссия по соблюдению правил работы (КСПР)
                        </h3>
                        <p>
                            Постоянно действующая комиссия из 3 (трех) человек, назначаемая посуточно по очереди из числа Основателей
                            – Участников Ядра и осуществляющая постоянный надзор за соблюдением правил работы на Платформе. <br>
                            КСПР имеет право:
                        </p>
                        <ul>
                            <li>
                                приостановить работу Профиля Участника при выявлении грубых нарушений и заблокировать его ЛК до
                                выяснения причин и характера нарушения;
                            </li>
                            <li>
                                инициировать разбирательство вплоть до рассмотрения вопроса членства нарушителя в рядах Пайщиков
                                Кооператива.
                            </li>
                        </ul>
                        <h3>
                            Квалификационная комиссия (КК)
                        </h3>
                        <p>
                            Постоянно действующая комиссия из 3 (трех) наиболее квалифицированных Участников Платформы из разных сфер
                            деятельности, выбранная Участниками Платформы большинством голосов. В ее задачу входит проведение
                            арбитража в случае спора между Заказчиком и Исполнителем.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-9">
                        <h3>
                            9.Доход платформы
                        </h3>
                        <p>
                            Платформа не имеет дохода. Добровольная комиссия Платформы утверждена самими Участниками и составляет 10%
                            от суммы заказов и конкурсов, из них:
                        </p>
                        <ul>
                            <li>
                                5% - расходуются на бонусы по Реферальной программе,
                            </li>
                            <li>
                                5% - расходуются на рекламу Платформы и поддержание ее работоспособности (разработка и модернизация
                                Платформы, техническая поддержка, хранение и защита баз данных, р/счет, руководство, бухгалтерия и
                                администрация и пр).
                            </li>
                        </ul>
                        <p>
                            Иными словами, комиссия Платформы расходуется на ее продвижение, техническое обслуживание и содержание в
                            интересах самих Участников.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-10">
                        <h3>
                            10.Структура Платформы
                        </h3>
                        <p>
                            Разделы:
                        </p>
                        <p>
                            <span>ЗАКАЗЫ</span> – раздел, где можно найти заказ, в том числе с помощью фильтра, и откликнуться на него
                            любому Участнику, а также создать заказ <br>
                            <span>КОНКУРСЫ</span> – раздел, в котором публикуются конкурсы, в которых можно принять участие, а также
                            объявить новый
                            конкурс <br>
                            <span>ФРИЛАНСЕРЫ</span> – список Фрилансеров, выстроенный по умолчанию в зависимости от их рейтинга,
                            возможность
                            применить фильтры и получить список исполнителей по определенным специализациям <br>
                            <span>КАТЕГОРИИ</span> – список всех сфер деятельности, категорий и специализаций, представленных на
                            Платформе.
                            Возможность создавать список выбранных специализаций, сервис добавления новых специализаций. После
                            сохранения выбранных специализаций – переход в раздел Фрилансеры со списком исполнителей по указанным
                            специализациям <br>
                            <span>ПОМОЩЬ</span> – раздел помощи, в котором можно отправить сообщение в поддержку (Тикет-система),
                            посмотреть
                            популярные вопросы и ответы на них, задать свой вопрос, онлайн-чат и поддержка по телефону <br>
                            <span>ПОИСК</span> – система поиска исполнителей по ключевым словам, а также любых материалов Платформы
                            <br>
                            <span>ДОКУМЕНТЫ</span> – представлены внизу сайта:
                        </p>
                        <ul>
                            <li>
                                О платформе
                            </li>
                            <li>
                                Безопасность (раскрытие раздела): <br>
                                &nbsp;&nbsp;&nbsp; Политика обработки персональных данных <br>
                                &nbsp;&nbsp;&nbsp; Согласие на обработку персональных данных <br>
                                &nbsp;&nbsp;&nbsp; Правила в отношении использования файлов cookie
                            </li>
                            <li>
                                Правила работы
                            </li>
                            <li>
                                Реферальная программа
                            </li>
                            <li>
                                Свидетельство о регистрации
                            </li>
                            <li>
                                О терминах и определениях
                            </li>
                            <li>
                                О специальных комиссиях
                            </li>
                            <li>
                                Презентация Clik-Work
                            </li>
                            <li>
                                Договор о вступлении
                            </li>
                            <li>
                                О взносах и фондах
                            </li>
                            <li>
                                Этический кодекс
                            </li>
                            <li>
                                О займах
                            </li>
                            <li>
                                Устав
                            </li>
                        </ul>
                        <h3>
                            ЛИЧНЫЙ КАБИНЕТ УЧАСТНИКА
                        </h3>
                        <p>
                            Интерфейс позволяет вести учет всех транзакций, осуществлять внесение и вывод средств, настраивать
                            безопасность аккаунта, участвовать в обсуждении и голосовании по ключевым вопросам развития Платформы,
                            получать отчеты по Реферальной программе, вносить и редактировать личные данные, настраивать уведомления,
                            быть в курсе событий, происходящих на Платформе, общаться с Участниками в личном чате, размещать портфолио
                            и настраивать свой Профиль.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}