{% extends 'app_users/_base.html' %}
{% load static %}
{% load i18n %}
{% load flatpages %}
{% get_flatpages '/about-platform/' as about_platform %}

{% block middle %}
    <div class="index-first-block">
        <div class="wrap">
            <h1>Платформа Фриланса</h1>
            <div class="top-text">
                партнерство, равенство, гарантия качества <br> и своевременной оплаты
            </div>
            <form>
                <input type="text" placeholder="введите запрос, что нужно сделать, для поиска исполнителя">
                <button></button>
                <a href="#" class="sound"></a>
            </form>
            <div class="blocks">
                <span>или</span>
                <span><img src="img/first-block1.svg"> <a href="#">создать заказ</a></span>
                <span><img src="img/first-block2.svg"> <a href="#">обьявить конкурс</a></span>
                <span><img src="img/first-block3.svg"> <a href="#">найти заказ</a></span>
            </div>
        </div>
    </div>
    <div class="index-catalog-block">
        <div class="wrap">
            <div class="top-nav">
                <a class="active" href="{% url 'home' %}">Категории <i class="fa fa-angle-down"></i></a>
                <a href="{% url 'about' %}">О платформе <i class="fa fa-angle-down"></i></a>
                <a href="{% url 'rules' %}">Правила работы <i class="fa fa-angle-down"></i></a>
                <a href="{% url 'ref_prog' %}">Реферальная программа <i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>
    <div class="index-page">
        <div class="first">
            <nav class="first__nav">
                <ul>
                    <li>
                        <button class="active" data-first="first-1">
                            <span>Термины</span>
                            <img width="50" height="50" src="img/referal-modal-icon-1.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-2">
                            <span>Цель Программы</span>
                            <img width="50" height="50" src="img/referal-modal-icon-2.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-3">
                            <span>Участники Программы</span>
                            <img width="50" height="50" src="img/referal-modal-icon-3.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-4">
                            <span>Структура Участника </span>
                            <img width="50" height="50" src="img/referal-modal-icon-4.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-5">
                            <span>Поощрение Участников</span>
                            <img width="50" height="50" src="img/referal-modal-icon-5.svg" alt="">
                        </button>
                    </li>
                    <li>
                        <button data-first="first-6">
                            <span>Популярные вопросы</span>
                            <img width="50" height="50" src="img/referal-modal-icon-6.svg" alt="">
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="first__content">
                <div class="first__title-box">
                    <div class="first__title">
                        О реферальной программе*
                    </div>
                </div>
                <div class="first__text">
                    <div class="first__info">
                        *Положение "О реферальной программе" утверждено Общим собранием пайщиков МПК «Агро-полис» 02 февраля 2023
                        г., Протокол № 18
                    </div>
                    <div class="first__block" data-first="first-1">
                        <h3>
                            1.Термины
                        </h3>
                        <p>
                            Значения терминов, используемых в данном Положении, перечислены в <a href="#">Положении О терминах>>>,</a>
                            принятых в МПК «Агро-полис».
                        </p>
                    </div>
                    <div class="first__block" data-first="first-2">
                        <h3>
                            2.Цель Программы
                        </h3>
                        <p>
                            2.1.Создание мотивации для Пайщиков по привлечению новых членов Кооператива – Участников Платформы. <br>
                            2.2.На 1 этапе развития Платформы - формирование Ядра платформы - команды Основателей. Статус «Основатель» получат первые 500 участников, вступивших в Кооператив для работы на Платформе.
                            2.3.Обеспечение пассивного дохода Участников.
                        </p>
                    </div>
                    <div class="first__block" data-first="first-3">
                        <h3>
                            3.Участники Программы
                        </h3>
                        <p>
                            3.1.Каждый участник Платформы может стать участником Реферальной программы (далее - Программа).
                        </p>
                    </div>
                    <div class="first__block" data-first="first-4">
                        <h3>
                            4.Структура Участника
                        </h3>
                        <p>
                            4.1.Приглашение нового члена в Кооператив осуществляется Пайщиком с помощью персональной реферальной
                            ссылки. Новый член Кооператива, пришедший по реферальной ссылке Пайщика, становится членом его структуры.
                            <br>
                            4.2.Структура Пайщика состоит из трех уровней Участников, зарегистрированных на Платформе и связанных
                            реферальными ссылками: <br>
                            1 уровень – новые Участники, приглашённые Участником <br>
                            2 уровень – новые Участники, приглашенные Участником 1 уровня <br>
                            3 уровень – новые Участники, приглашенные Участником 2 уровня
                        </p>
                    </div>
                    <div class="first__block" data-first="first-5">
                        <h3>
                            5.Поощрение Участников
                        </h3>
                        <p class="mb0">
                            5.1. Поощрение Участников по Реферальной программе осуществляется следующим образом:
                        </p>
                        <ul>
                            <li>
                                Разовое поощрение за привлечение новых Участников;
                            </li>
                            <li>
                                Пассивный доход в виде бонусов от заказов и конкурсов.
                            </li>
                        </ul>
                        <p class="mb0">
                            5.2.Поощрение Пайщика за привлечение нового члена Кооператива производится путем передачи на его л/с части
                            Вступительного взноса нового члена Кооператива в следующем порядке:
                        </p>
                        <ul>
                            <li>
                                500 рублей с 1-го уровня
                            </li>
                            <li>
                                400 рублей со 2-го уровня
                            </li>
                            <li>
                                100 рублей с 3-го уровня
                            </li>
                        </ul>
                        <img src="img/referal-modal-img-1.png" alt="">
                        <p>
                            5.3.Формирование пассивного дохода Пайщика путем зачисления бонусов из комиссии Платформы (10%) за заказы
                            и конкурсы, в которых Участник его структуры выступал в роли Заказчика и/или Исполнителя. <br>
                            50% комиссии (а это 5% стоимости заказа) распределяется поровну между двумя структурами:
                        </p>
                        <p>
                            <span>Бонусы, распределяемые в структуру Заказчика:</span> <br>
                            с 1-го уровня – 1,25% от заказа/конкурса <br>
                            со 2-го уровня - 1% от заказа/конкурса <br>
                            с 3-го уровня - 0,25% от заказа/конкурса
                        </p>
                        <p>
                            <span>Бонусы, распределяемые в структуру Исполнителя:</span> <br>
                            с 1-го уровня – 1,25% от заказа/конкурса <br>
                            со 2-го уровня - 1% от заказа/конкурса <br>
                            с 3-го уровня - 0,25% от заказа/конкурса
                        </p>
                        <img src="img/referal-modal-img-2.png" alt="">
                    </div>
                    <div class="first__block" data-first="first-6">
                        <h3>
                            Популярные вопросы
                        </h3>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                Это пирамида.
                            </button>
                            <div class="first__accordion-text">
                                Да, конечно. Как и все структуры в нашем мире! Правительство, компании, даже семья – построены по принципу пирамиды. Просто есть несправедливые пирамиды, где ваш голос не слышен или ничего не значит, а есть справедливые, как наша.
                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                Это финансовая пирамида?
                            </button>
                            <div class="first__accordion-text">
                                Конечно, нет. <br>
                                Наша Реферальная программа - это система получения бонусов с трех нижестоящих уровней участников с целью мотивации привлечения новичков и получения пассивного дохода с оплаченных клиентами заказов в течении всего срока жизни Проекта. <br>
                                Когда новички закончатся (хотя вряд ли) – не закончатся заказы, с которых формируются бонусы. Поэтому назвать нашу Программу финансовой пирамидой некорректно.
                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                Только первые будут зарабатывать. Остальные не смогут заработать.
                            </button>
                            <div class="first__accordion-text">
                                Доход от Реферальной программы не является целью регистрации на Платформе. <br>
                                Цель для фрилансера - выполнять заказы, которые публикуются на Платформе, а цель для заказчика - получить качественное выполнение своего задания. <br>
                                Тем не менее, реферальные отчисления и пассивный доход от Реферальной программы - это приятное дополнение к основному доходу участника, и сегодня это общепринятая мировая тенденция. <br>
                                Что касается большого дохода от Реферальной программы, то его может получить любой участник, если поставит перед собой такую цель. Например, активно распространяя свою реферальную ссылку по всему миру.

                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                Что такое Ядро? Зачем оно?
                            </button>
                            <div class="first__accordion-text">
                                Ядро состоит из 500 первых зарегистрированных фрилансеров (Команда Основателей), оплативших членство в нашем клубе в размере 2000 рублей. <br>
                                Участники Ядра – родители Платформы. Они разработали правила работы. В их структуры будут добавляться пришедшие по рекламе клиенты и фрилансеры (после проверки их компетенции).

                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                Если регистрация на 1 этапе возможна только по реферальной ссылке, как я могу проверить, кто находится в моей структуре?
                            </button>
                            <div class="first__accordion-text">
                                Список участников вашей структуры будет закрыт, чтобы не было обид между участниками.  <br>
                                Представьте себе ситуацию, вы послали свою реферальную ссылку знакомому, который уже получил ссылку для регистрации от вашего общего приятеля. Какую именно он ссылку использовал, ни он, ни вы, ни ваш приятель не узнают. Потому что в отчете по вашей структуре будут видно лишь количество участников, то есть цифры, а не имена. <br>
                                Можно лишь посоветовать, как можно быстрее оповестить всех своих знакомых и выслать им реферальную ссылку сразу после вашей регистрации.
                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                Как быть уверенным, что при организации Платформы тот, кто имеет доступ к базе данных или финансам не воспользуется своим положением?
                            </button>
                            <div class="first__accordion-text">
                                Отличный вопрос! Перед запуском программы было проведено ее тестирование, в том числе по безопасности работы с данными и финансами. Работать с финансами и данными может ограниченный круг лиц с определенным статусом и разными уровнями доступа. <br>
                                Программа полностью автоматизирована. Бывают ситуации, когда нужно внести какие-либо изменения, например, из-за ошибки, по заявлению участника Платформы и т.д. <br>
                                Однако, любые изменения в программе, сделанные «вручную», будут немедленно отражены в виде Протокола изменений в кабинетах членов Ревизионный комиссии, осуществляющих надзор за работой Платформы, и в кабинетах самих участников. <br>
                                Зная это, указанный выше круг лиц, не сможет воспользоваться этой возможностью.
                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                Какой смысл регистрироваться в вашем клубе, если клиентов пока нет. Вот когда будет много клиентов, тогда и имеет смысл, разве не так?
                            </button>
                            <div class="first__accordion-text">
                                Не так! Когда-то биткоин стоил 1 доллар, но те, кто поверил в него, кто «кожей чувствовал» тенденции, устремленные в будущее, разбогател в 20 000 раз! <br>
                                Эти люди приняли судьбоносное для них решение. <br>
                                Возможно у вас сейчас подобный шанс. <br>
                                А клиенты будут! Даже без рекламы! <br>
                                Ведь у каждого фрилансера есть клиенты, которым фрилансеры разошлют реферальные ссылки сразу же после страта Платформы! Они заинтересованы получать пассивный доход со своей структуры, как с заказчиков, так и с фрилансеров.
                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                А зачем мне приводить своего клиента и регистрировать его на Платформе, если он у меня и так есть?
                            </button>
                            <div class="first__accordion-text">
                                Мы уже это проходили! Помните мы говорили о важности быстрого подключения знакомых фрилансеров? <br>
                                С клиентом также. Возможно завтра ваш знакомый клиент придет по рекламе или зарегистрируется по реферальной ссылке от своего другого знакомого фрилансера. <br>
                                Кроме того, часто наши клиенты просят порекомендовать исполнителя в какой-либо сфере и ваша реферальная ссылка с приглашением на нашу Платформу – идеальный вариант такой рекомендации! <br>
                                Заказы вашего клиента, в которых он выбирает вас исполнителем, – повышает ваш рейтинг. С одной стороны, вы «отдаете» своего клиента Платформе, но в то же время, он становится новым членом вашей структуры и принесет дополнительный пассивный доход.
                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                А можно подключать к Платформе участников, используя, например, не свою реферальную ссылку, а ссылку участников первой или второй линии?
                            </button>
                            <div class="first__accordion-text">
                                Это можно делать и это не является нарушением. <br>
                                Здесь важно разобраться, какую стратегию вы выберете по построению своей структуры и формированию своего пассивного дохода. <br>
                                Опытных и профессиональных фрилансеров, которые выполняют много заказов, при чем из самых разных сфер, следует подключать в свою первую линию. Тоже самое касается и ваших клиентов. Таким образом вы получаете максимальный пассивный доход. <br>
                                В тоже время, вы можете подключать фрилансеров или клиентов в свою вторую или третью линию, например, для повышения лояльности к Платформе и проявления активности участников вашей структуры.
                            </div>
                        </div>
                        <div class="first__accordion">
                            <button class="first__accordion-toggle">
                                Почему с заказов клиента, которого я пригласил в 1 уровень своей структуры, половина бонусов передается в структуру фрилансера, выполнившего заказ?
                                Ведь при вступлении только я получаю бонусы с подключенного клиента.
                            </button>
                            <div class="first__accordion-text">
                                Отличный вопрос! <br>
                                Потому что любое мероприятие или проект обычно имеет разные стадии развития. <br>
                                На этапе быстрого роста количества участников Платформы реферальная программа позволяет зарабатывать быстро, поэтому за вступление новичков вы получаете максимальное количество выгоды в виде единовременного платежа.
                                На 2 этапе, когда привлекаются в том числе заказчики: <br>
                                пассивный доход формируется благодаря комиссии Платформы за заказы и конкурсы. <br>
                                Но если бонусы получает лишь структура, которая привлекла клиента, сделавшего заказ, тогда каков пассивный доход у структуры, фрилансер которой выполнил этот заказ? Никакой? Мы посчитали это несправедливым. <br>
                                Чтобы выровнять баланс интересов и поддержать мотивацию активно работать на Платформе было принято решение поощрять обе структуры. Это позволит нашему Проекту развиваться более гармонично, когда справедливо учитываются интересы всех сторон.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}