{% extends 'app_users/profile/_profile_base_edit.html' %}
{% load i18n %}
{% load static %}


{% block settings %}
    <form class="personal" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.username }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.last_name }}
        {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.first_name }}
        {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.patronymic }}
        {% if form.patronymic.errors %}
            {% for error in form.patronymic.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.country }}
        {% if form.country.errors %}
            {% for error in form.country.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.address }}
        {% if form.address.errors %}
            {% for error in form.address.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.personal_number }}
        {% if form.personal_number.errors %}
            {% for error in form.personal_number.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        <div class="doc">
            {% trans 'Документ' %}:
            {{ form.document }}
            {% if form.document.errors %}
                {% for error in form.document.errors %}
                    <div>{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            *jpg,*png,*pdf
        </div>

        <div class="flex">
            {{ form.document_number }}
            {% if form.document_number.errors %}
                {% for error in form.document_number.errors %}
                    <div>{{ error|escape }}</div>
                {% endfor %}
            {% endif %}

            {{ form.document_issued }}
            {% if form.document_issued.errors %}
                {% for error in form.document_issued.errors %}
                    <div>{{ error|escape }}</div>
                {% endfor %}
            {% endif %}

            {{ form.phone_number }}
            {% if form.phone_number.errors %}
                {% for error in form.phone_number.errors %}
                    <div>{{ error|escape }}</div>
                {% endfor %}
            {% endif %}

            {{ form.email }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div>{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
        </div>

        {{ form.bank_name }}
        {% if form.bank_name.errors %}
            {% for error in form.bank_name.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.bank_address }}
        {% if form.bank_address.errors %}
            {% for error in form.bank_address.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.bank_bic }}
        {% if form.bank_bic.errors %}
            {% for error in form.bank_bic.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.bank_correspondent_account }}
        {% if form.bank_correspondent_account.errors %}
            {% for error in form.bank_correspondent_account.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.payment_account }}
        {% if form.payment_account.errors %}
            {% for error in form.payment_account.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

        {{ form.recipients_name }}
        {% if form.recipients_name.errors %}
            {% for error in form.recipients_name.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endif %}

{#        <select>#}
{#            <option>Сфера деятельности</option>#}
{#            <option>Сфера деятельности</option>#}
{#            <option>Сфера деятельности</option>#}
{#        </select>#}
{#        <select>#}
{#            <option>Специальность</option>#}
{#            <option>Специальность</option>#}
{#            <option>Специальность</option>#}
{#        </select>#}
        <div class="agree">
            <input type="checkbox" class="checkbox" id="ch1" value="yes" required>
            <label for="ch1">
                {% trans 'Я даю согласие на обработку персональных данных для формирования' %}
                <a href="{% url 'agreement' %}">{% trans 'Договора пайщика - члена Клуба' %}</a>
            </label>
        </div>
        <div class="flex">
{#            <div class="col">#}
{#                <input type="checkbox" class="checkbox" id="ch2"><label for="ch2">Фрилансер</label>#}
{#                <input type="checkbox" class="checkbox" id="ch3"><label for="ch3">Заказчик</label>#}
{#            </div>#}
{#            <div class="col">#}
{#                <input type="checkbox" class="checkbox" id="ch4"><label for="ch4">Фрилансер юр. лицо</label>#}
{#                <input type="checkbox" class="checkbox" id="ch5"><label for="ch5">Заказчик юр. лицо</label>#}
{#            </div>#}
            <div class="col">
                <button type="submit">{% trans 'Сохранить' %}</button>
            </div>
        </div>
    </form>
{% endblock %}