{% extends 'app_users/_base.html' %}
{% load i18n %}
{% load static %}

{% block middle %}
    <div class="personal-section">
        <div class="personal__title">
            Восстановление доступа в ЛК
        </div>
        <form class="personal__form" action="#" method="post">
            {% csrf_token %}
            <label class="personal__input-box">
                <input class="personal__input" type="text" placeholder="Введите новый пароль">
            </label>

            <label class="personal__input-box">
                <input class="personal__input input-password" type="password" placeholder="Повторите новый пароль">
                <span class="personal__input-eye"></span>
            </label>
            
            <div class="personal__password-list">
                <div class="personal__password-item checked">
                    Минимум 8 символов
                </div>
                <div class="personal__password-item checked">
                    Пароль должен содержать заглавные и строчные латинские буквы
                </div>
                <div class="personal__password-item checked">
                    Хотя бы 1 цифра
                </div>
                <div class="personal__password-item warning">
                    Хотя бы 1 специальный символ: !@#$%^&*()_+-=;,./?[]{}
                </div>
            </div>
            
            <button type="submit">{% trans 'Сохранить' %}</button>
        </form>
        <div class="personal__login-bottom">
            <a href="#">Нажмите</a> для входа в личный кабинет
        </div>
    </div>

    {% include 'app_users/main_section.html' %}
    {% include 'app_users/footer.html' %}
{% endblock %}





<div class="signup-window" style="margin: 0 auto; max-width: 900px; margin-top: 15px;">

    <form class="signup" action="#" method="post">
        <div>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div>{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <div>
                <label for="{{ form.email.id_for_email }}">E-mail</label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div>{{ error|escape }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <div>
                    <button type="submit">{% trans 'Сохранить' %}</button>
                </div>
            </div>
        </div>
    </form>

    </div>