{% extends 'app_users/profile/_profile_base_edit.html' %}
{% load i18n %}
{% load static %}

{% block settings %}
    <div class="safety">
        <div class="item">
            <div class="name">
                {% trans "Параметры аутентификации" %}
                <button class="change-pass">{% trans "Изменить пароль" %}</button>
            </div>
            <div class="text">
                <p>
                    {% trans "При входе в систему, вы автоматически будете проверяться на несколько важных параметров." %}
                    {% trans "В случае если какой-то из них покажется нашей системе подозрительным, осуществить вход вы сможете только введя PIN-код, который, в случае срабатывания защиты, будет моментально отправлен на ваш электронный адрес." %}
                </p>
                <input type="checkbox" class="checkbox" id="saf1"><label for="saf1"></label>
            </div>
        </div>
        <div class="item">
            <div class="name">
                {% trans "Варианты двухэтапной проверки" %}
            </div>
            <div class="text">
                <p>
                    {% trans "Добавьте дополнительный уровень безопасности для блокировки несанкционированного доступа и защиты вашей учетной записи." %}
                </p>
            </div>
        </div>
        <div class="item">
            <div class="text small">
                <div class="top-text">
                    {% trans "Код приложения для аутентификации" %}
                    <div class="help-block">
                        <a></a>
                        <div class="txt">
                            {% trans "Двухфакторная аутентификация" %} (2FA) <br/><br/>
                            {% trans "Защитите вход в аккаунт и платежи с помощью одноразовых паролей." %}
                            {% trans "Получайте их с помощью нашего бота в популярных мессенджерах или в приложениях Protectimus или Google Authenticator для iOS or Android." %} <br/><br/>
                            {% trans "Мгновенная активация, 100% бесплатно." %}
                        </div>
                    </div>
                </div>
                <p>{% trans "Введите код, сгенерированный вашим приложением-аутентификатором, чтобы подтвердить, что это вы." %}</p>
                <input type="checkbox" class="checkbox" id="saf2"><label for="saf2"></label>
            </div>
        </div>
        <div class="item">
            <div class="text small">
                <div class="top-text">
                    {% trans "Код приложения для аутентификации" %}
                    <div class="help-block">
                        <a></a>
                        <div class="txt">
                            {% trans "Двухфакторная аутентификация" %} (2FA) <br/><br/>
                            {% trans "Защитите вход в аккаунт и платежи с помощью одноразовых паролей." %}
                            {% trans "Получайте их с помощью нашего бота в популярных мессенджерах или в приложениях Protectimus или Google Authenticator для iOS or Android." %} <br/><br/>
                            {% trans "Мгновенная активация, 100% бесплатно." %}
                        </div>
                    </div>
                </div>
                <p>{% trans "Введите код, сгенерированный вашим приложением-аутентификатором, чтобы подтвердить, что это вы." %}</p>
                <input type="checkbox" class="checkbox" id="saf3"><label for="saf3"></label>
            </div>
        </div>
        <div class="item">
            <div class="text small">
                <div class="top-text">
                    {% trans "Код приложения для аутентификации" %}
                    <div class="help-block">
                        <a></a>
                        <div class="txt">
                            {% trans "Двухфакторная аутентификация" %} (2FA) <br/><br/>
                            {% trans "Защитите вход в аккаунт и платежи с помощью одноразовых паролей." %}
                            {% trans "Получайте их с помощью нашего бота в популярных мессенджерах или в приложениях Protectimus или Google Authenticator для iOS or Android." %} <br/><br/>
                            {% trans "Мгновенная активация, 100% бесплатно." %}
                        </div>
                    </div>
                </div>
                <p>{% trans "Введите код, сгенерированный вашим приложением-аутентификатором, чтобы подтвердить, что это вы." %}</p>
                <input type="checkbox" class="checkbox" id="saf4"><label for="saf4"></label>
            </div>
        </div>
    </div>
{% endblock %}