{% extends 'app_users/profile/_profile_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="news">
        <div class="block-name">
            {% trans 'Новости' %}
        </div>

        {% if object_list %}
            {% for news in object_list %}
                {#                {{ news.title }}>#}
                <div class="item">
                    <div class="date">
                        {{ news.pub_date }}
                    </div>
                    <div class="text">
                        {{ news.text|linebreaks }}
                        {% if news.newslink_set.all %}
                            {% for link in news.newslink_set.all %}
                                <a href="{{ link.link.flatpage.get_absolute_url }}" target="_blank">
                                    {{ link.text }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="item">
                {% trans 'Новостей нет' %}
            </div>
        {% endif %}

        <div class="archive">
            <a>Архив новостей <i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a href="#">Месяц</a></li>
                <li><a href="#">Последняя неделя</a></li>
                <li><a href="#">Две недели</a></li>
                <li><a href="#">Три недели</a></li>
                <li><a href="#">Квартал</a></li>
                <li><a href="#">Полгода</a></li>
                <li><a href="#">Год</a></li>
                <li><a href="#">Период с... по ...</a></li>
            </ul>
        </div>
        <div class="other-news">
            <div class="name">
                Новости за последние 3 недели:
            </div>
            <table>
                <tr>
                    <td>22.01.23</td>
                    <td>Тестовая версия Платформы доступна для обсуждения</td>
                    <td><a href="#">>>></a></td>
                </tr>
                <tr>
                    <td>22.01.23</td>
                    <td>Тестовая версия Платформы доступна для обсуждения</td>
                    <td><a href="#">>>></a></td>
                </tr>
                <tr>
                    <td>22.01.23</td>
                    <td>Тестовая версия Платформы доступна для обсуждения</td>
                    <td><a href="#">>>></a></td>
                </tr>
                <tr>
                    <td>22.01.23</td>
                    <td>Тестовая версия Платформы доступна для обсуждения</td>
                    <td><a href="#">>>></a></td>
                </tr>
                <tr>
                    <td>22.01.23</td>
                    <td>Тестовая версия Платформы доступна для обсуждения</td>
                    <td><a href="#">>>></a></td>
                </tr>
                <tr>
                    <td>22.01.23</td>
                    <td>Тестовая версия Платформы доступна для обсуждения</td>
                    <td><a href="#">>>></a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}