{% load static %}
{% load i18n %}
{% load flatpages %}
{% get_flatpages '/referral-program/' as referral_program %}
{% get_flatpages '/about-platform/' as about_platform %}
{% get_flatpages '/working-rules/' as working_rules %}
{% get_flatpages '/regulation/' as regulation %}
{% get_flatpages '/entry-agreement-rus1/' as entry_agreement %}
{% get_flatpages '/audit-commission/' as audit_commission %}
{% get_flatpages '/contributions-and-funds/' as contributions_and_funds %}
{% get_flatpages '/loans/' as loans %}

<footer class="footer">
    <div class="flex">
        <ul>
            <li><a href="#">Категории</a></li>
            <li><a href="#">Заказы</a></li>
            <li><a href="#">Конкурсы</a></li>
            <li><a href="#">Фрилансеры</a></li>
            <li><a href="#">О платформе</a></li>
            <li>
                <a class="footer-security" href="#">Безопасность</a>
                <div class="footer-security__buttons">
                    <a href="#">Политика обработки персональных данных</a>
                    <a href="#">Согласие на обработку персональных данных</a>
                    <a href="#">Правила в отношении использования файлов cookie</a>
                </div>
            </li>
            <li><a href="#">Правила работы</a></li>
            <li><a href="#">Реферальная программа</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Поиск</a></li>
        </ul>
        <form>
            <p>ФОРМА ОБРАТНОЙ СВЯЗИ</p>
            <input type="text" placeholder="Введите имя">
            <input type="text" placeholder="Ваш E-mail">
            <textarea placeholder="Ваше сообщение"></textarea>
            <button>Отправить</button>
        </form>
        <ul class="tar">
            <li><a href="#">Минимально допустимые тарифы</a></li>
            <li><a href="#">Свидетельство о регистрации</a></li>
            <li><a href="#">О терминах и опеределениях</a></li>
            <li><a href="#">О специальных комиссиях</a></li>
            <li><a href="#">Презентация Clik-Work</a></li>
            <li><a href="#">Договор о вступлении</a></li>
            <li><a href="#">О взносах и фондах</a></li>
            <li><a href="#">Этический кодекс</a></li>
            <li><a href="#">О займах</a></li>
            <li><a href="#">Устав</a></li>
        </ul>
    </div>
    <div class="social">
        <a href="#"><img src="{% static 'img/social1.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social2.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social3.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social4.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social5.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social6.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social7.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social8.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social9.svg' %}"></a>
        <a href="#"><img src="{% static 'img/social10.sv' %}g"></a>
        <a href="#"><img src="{% static 'img/social11.sv' %}g"></a>
    </div>
</footer>