{% load static %}
{% load i18n %}
{% load flatpages %}
{% get_flatpages '/referral-program/' as referral_program %}
{% get_flatpages '/about-platform/' as about_platform %}
{% get_flatpages '/working-rules/' as working_rules %}
{% get_flatpages '/regulation/' as regulation %}
{% get_flatpages '/entry-agreement-rus1/' as entry_agreement %}
{% get_flatpages '/audit-commission/' as audit_commission %}
{% get_flatpages '/contributions-and-funds/' as contributions_and_funds %}
{% get_flatpages '/loans/' as loans %}

<footer class="footer">
    <div class="flex">

        <!--    ЛЕВАЯ КОЛОНКА ССЫЛОК begin  -->
        <ul>
            <li><a href="#">{% trans 'Услуги' %}</a></li>
            <li><a href="#">{% trans 'Заказы' %}</a></li>
            <li><a href="#">{% trans 'Конкурсы' %}</a></li>
            <li><a href="#">{% trans 'Фрилансеры' %}</a></li>
            <li><a href="{{ about_platform.first.url }}">{% trans 'О платформе' %}</a></li>
            <li><a href="#">{% trans 'Безопасность' %}</a></li>
            <li><a href="{{ working_rules.first.url }}">{% trans 'Правила работы' %}</a></li>
            <li><a href="{{ referral_program.first.url }}">{% trans 'Реферальная программа' %}</a></li>
            <li><a href="#">{% trans 'Помощь' %}</a></li>
            <li><a href="#">{% trans 'Поиск' %}</a></li>
        </ul>
        <!--    ЛЕВАЯ КОЛОНКА ССЫЛОК finish  -->

        <!--    ФОРМА ОБРАТНОЙ СВЯЗИ begin  -->
        <!--    пока не работает  -->
        <form action="#" method="post">
            {% csrf_token %}
            <p>{% trans 'ФОРМА ОБРАТНОЙ СВЯЗИ' %}</p>
            <input name="name" type="text" placeholder="{% trans 'Введите имя' %}">
            <input name="email" type="text" placeholder="{% trans 'Ваш E-mail' %}">
            <textarea name="message" placeholder="{% trans 'Ваше сообщение' %}"></textarea>
            <button type="submit">{% trans 'Отправить' %}</button>
        </form>
        <!--    ФОРМА ОБРАТНОЙ СВЯЗИ finish  -->

        <!--    ПРАВАЯ КОЛОНКА ССЫЛОК begin  -->
        <ul class="tar">
            <li><a href="{% static 'documents/Regulation.pdf' %}" target="_blank">{% trans 'Устав' %}</a></li>
            <li><a href="{{ entry_agreement.first.url }}" target="_blank">{% trans 'Договор о вступлении' %}</a></li>
            <li><a href="{% static 'documents/Provision_on_terms_and_definitions.pdf' %}" target="_blank">{% trans 'О терминах и определениях' %}</a></li>
            <li><a href="{% static 'documents/Regulations_on_the_Audit_Commission.pdf' %}" target="_blank">{% trans 'О ревизионной комиссии' %}</a></li>
            <li><a href="{% static 'documents/Regulations_on_contributions_and_funds.pdf' %}" target="_blank">{% trans 'О взносах и фондах' %}</a></li>
            <li><a href="{% static 'documents/Regulations_on_loans.pdf' %}" target="_blank">{% trans 'О займах' %}</a></li>
        </ul>
        <!--    ПРАВАЯ КОЛОНКА ССЫЛОК finish  -->

    </div>

    <!--    ССЫЛКИ НА СОЦСЕТИ begin  -->
    <div class="social">
        {% if social_media.social_media_item.all %}
            {% for item in social_media.social_media_item.all %}
                <a title="{{ item.name }}" target="_blank" href="{{ item.link }}"><img alt="{{ item.name }}-logo" src="{{ item.icon.url }}"></a>
            {% endfor %}
        {% endif %}
    </div>
    <!--    ССЫЛКИ НА СОЦСЕТИ finish  -->

</footer>