{% load flatpages %}
{% load static %}
{% load i18n %}
{% get_flatpages '/referral-program/' as referral_program %}
{% get_flatpages '/about-platform/' as about_platform %}
{% get_flatpages '/working-rules/' as working_rules %}

{#        <div>#}
{#            <a href="{% url 'polls-list' %}">#}
{#                {% trans "Голосование" %}#}
{#                {% if number_polls > 0 %}({{ number_polls }}){% endif %}#}
{#            </a>#}
{#        </div>#}

{#        <div>#}
{#            <form action="{% url 'set_language' %}" method="post">#}
{#                {% csrf_token %}#}
{#                {% get_current_language as LANGUAGE_CODE %}#}
{#                {% get_available_languages as LANGUAGES %}#}
{#                {% get_language_info_list for LANGUAGES as languages %}#}
{#                {% for language in languages %}#}
{#                    <div>#}
{#                        <input type="radio" id="language" name="language" value="{{ language.code }}"#}
{#                                {% if language.code == LANGUAGE_CODE %} checked{% endif %} onclick="submit()">#}
{#                        <label for="language">{{ language.code }}</label>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </form>#}
{#        </div>#}

<header class="header flex">
    <div class="logo">
        <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo.svg' %}"></a>
        <a class="menu-button"></a>
        <ul>
            <li><a href="{% url 'home' %}">{% trans "ГЛАВНАЯ" %}</a></li>
            <li><a href="#">{% trans "ВСЕ УСЛУГИ" %}</a></li>
            <li><a href="#">{% trans "ЗАКАЗЫ" %}</a></li>
            <li><a href="#">{% trans "СОЗДАТЬ ЗАКАЗ" %}</a></li>
            <li><a href="#">{% trans "КОНКУРСЫ" %}</a></li>
            <li><a href="#">{% trans "ОБЪЯВИТЬ КОНКУРС" %}</a></li>
            <li><a href="#">{% trans "ФРИЛАНСЕРЫ" %}</a></li>
            <li><a href="{{ about_platform.first.url }}">{% trans "О ПЛАТФОРМЕ" %}</a></li>
            <li><a href="{{ referral_program.first.url }}">{% trans "РЕФЕРАЛЬНАЯ ПРОГРАММА" %}</a></li>
            <li><a href="{{ working_rules.first.url }}">{% trans "ПРАВИЛА РАБОТЫ" %}</a></li>
            <li><a href="{% url 'edit_profile' %}">{% trans "ЛИЧНЫЙ КАБИНЕТ" %}</a></li>
            <li><a href="{% url 'support' %}">{% trans "ПОМОЩЬ" %}</a></li>
            <li><a href="#">{% trans "ПОИСК" %}</a></li>
        </ul>
    </div>

    {% if request.user.is_authenticated %}
        <div class="user">
            {% if request.user.is_core %}
                {% trans "Основатель" %}
            {% else %}
                {{ request.user.get_status_display }}
            {% endif %}
            <a class="play"></a> <a class="round"></a> <i>{% trans "отпуск" %}</i>
        </div>

        <ul>
            <li><a href="{% url 'tickets' %}">{% trans "Тикеты" %}</a></li>
            <li><a href="{% url 'news_list' %}">{% trans "Новости" %}</a></li>
            <li>
                <a href="{% url 'polls-list' %}">
                    {% trans "Голосование" %}
                    {% if number_polls > 0 %}<sup id="unread-polls-number">{{ number_polls }}</sup>{% endif %}
                </a>
            </li>
            <li><a href="{% url 'referral_program' %}">{% trans "Реферальная программа" %}</a></li>
        </ul>

        <div class="langs-block">
            <a href="#" class="lang">RU <i class="fa fa-angle-down"></i></a>
            <div class="window">
                <a href="#">RU</a>
                <a href="#">EN</a>
            </div>
        </div>

        <a class="search-link"></a>

        <div class="name">
            {% if request.user.avatar %}
                <div><img src="{% static 'assets/img/avatar.png' %}"></div>
            {% else %}
                <div><img src="{% static 'assets/img/avatar.png' %}"></div>
            {% endif %}

            <div>
                <a href="#">
                    {% if request.user.last_name and request.user.first_name %}
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    {% else %}
                        {% trans "Личный кабинет" %}
                    {% endif %}
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>

            <div class="window">
                <div class="avatar">
                    {% if request.user.avatar %}
                        <div class="avatar">
                            <img src="{% static 'assets/img/avatar2.png' %}">
                            <a href="#" class="edit"></a>
                        </div>
                    {% else %}
                        <div class="avatar">
                            <img src="{% static 'assets/img/avatar2.png' %}">
                            <a href="#" class="edit"></a>
                        </div>
                    {% endif %}
                    <a href="#" class="edit"></a>
                </div>

                <div class="links">
                    <a href="{% url 'edit_profile' %}">{% trans "Личные данные" %}</a>
                    <a href="{% url 'verification' %}">{% trans "Верификация" %}</a>
                    <a href="{% url 'password_and_security' %}">{% trans "Пароль и безопасность" %}</a>
                    <a href="{% url 'notifications' %}">{% trans "Уведомления" %}</a>
                    <a href="{% url 'agreement' %}">{% trans "Договор" %}</a>
                </div>

                <div class="bottom-link">
                    <a href="{% url 'logout' %}">{% trans "Выход" %}</a>
                </div>
            </div>
        </div>

    {% endif %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="logout"></a>
    {% else %}
        <button class="login-btn" onclick="loginPopup()">{% trans "Вход" %}</button>
    {% endif %}


</header>