{% extends 'app_users/profile/_profile_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="chat">
        <div class="top-form flex">
            <input type="text" placeholder="Чат">
            <button>Предложить тему</button>
        </div>
        <div class="top-date">
            21.01.23
        </div>
        <div class="chat">
            <div class="name">
                Обсуждение правил Платформы
            </div>
            <a href="#" class="link">Проект новых правил >>></a>
            <div class="author">
                Петров Иван:
            </div>
            <div class="text">
                предлагаю новую редакцию п. 10 Клиент размещает заказ. Публикация заказа производится после внесения минимального депозита 2000 р. Окончательная цена за заказ формируется на основании предложений исполнителя и согласия заказчика.
                <div class="author">
                    Петров Иван: <span>поддерживаю, только депозит 2500 р. сделать.</span>
                </div>
            </div>
            <div class="name">
                Обсуждение правил Платформы
            </div>
            <a href="#" class="link">Проект новых правил >>></a>
            <div class="author">
                Петров Иван:
            </div>
            <div class="text">
                предлагаю новую редакцию п. 10 Клиент размещает заказ. Публикация заказа производится после внесения минимального депозита 2000 р. Окончательная цена за заказ формируется на основании предложений исполнителя и согласия заказчика.
                <div class="author">
                    Петров Иван: <span>поддерживаю, только депозит 2500 р. сделать.</span>
                </div>
            </div>
            <div class="comment">
                <p>Ваш комментарий:</p>
                <textarea>Надо просто сделать отдел что-то типа «Полиции нравов», который будет мониторить нарушения. Из числа фрилансеров, составляющих Ядро. Как общественную нагрузку, дежурство, но с денежной компенсацией. По очереди фрилансеры будут следить за чистотой рядов. Это в их же интересах.</textarea>
                <div class="button">
                    <button>Отправить</button>
                </div>
            </div>
        </div>
        <div class="bottom-button">
            <button>Отправить</button>
        </div>
    </div>
{% endblock %}