{% extends 'app_users/profile/_profile_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="help">
        <div class="name">
            Помощь
        </div>
        <table>
            <tr>
                <td><img src="{% static 'assets/img/help1.png' %}"></td>
                <td>
                    <span><a href="#">Часто задаваемые вопросы - FAQ</a></span>
                    Выберите подходящую тему и найдите интересующую информацию или изучите, как работает система.
                </td>
            </tr>
            <tr>
                <td><img src="{% static 'assets/img/help2.png' %}"></td>
                <td>
                    <span><a href="{% url 'tickets' %}">Тикет-система</a></span>
                    Создайте письменный запрос (тикет) с подробным описанием вашей проблемы или вашими вопросами. Мы изучим информацию и дадим подробный ответ в максимально короткий срок
                </td>
            </tr>
            <tr>
                <td><img src="{% static 'assets/img/help3.png' %}"></td>
                <td>
                    <span>Онлайн чат</span>
                    Для оперативной связи со службой поддержки нажмите на иконку чата в правом нижнем углу.
                </td>
            </tr>
            <tr>
                <td><img src="{% static 'assets/img/help4.png' %}"></td>
                <td>
                    <span>Поддержка по телефону </span>
                    Операторы колл-центра будут рады принять ваш запрос каждый день с 10 утра до 7 вечера по московскому времени. Обратите внимание, что в некоторых случаях оператор может попросить вас создать тикет с подробной информацией. <br/><br/>
                    {{ company_settings.phone_number1 }}    (Россия) <br/>
                    {{ company_settings.phone_number2 }}    (Казахстан) <br/>
                    {{ company_settings.phone_number3 }}  (английский язык)
                </td>
            </tr>
        </table>
    </div>
{% endblock %}